@import './../../style/Theme.scss';

.Home-container {
    background: $PRIMARY_BACKGROUND_COLOR;

    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;

    gap: 0.5rem;
}

.Home_to_lobby-wrapper {
    background-color: $SECONDARY_BACKGROUND_COLOR;

    padding: 2.325rem;
    border-radius: 10px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);

    position: relative;
    top: 20%;
}

.Home-logo {
    max-height: 128px;
    max-width: 128px;

    position: relative;
    top: 20%;
}

.Home-title {
    position: relative;
    top: 20%;

    color: white;
    font-family: $TEXT_FONT;
}