@import '../../style/Theme.scss';

.Message-wrapper {
    background: #eee;
}

.Message-content {
    font-family: $TEXT_FONT;
    font-size: 14px;
    padding: 5px 10px;
    margin: 0;
    overflow-wrap: break-word;
}