.container {
  background: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.canvas_zone {
  background: white;
  border-radius: 10px;
  margin: 2rem;
}

.chat_zone {
  background: white;
  min-height: 600px;
  width: 20vw;
  border-radius: 10px;
  margin-right: 1rem;
}

.chat_content {
  margin: 10px;
}

.player_list {
  width: 20vw;
  max-height: 650px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 5px;
  margin: 1rem;
}

.player_info {
  height: 60px;
  min-width: 80%;
  background: grey;
  border-radius: 10px;

  &.alt {
    background: white;
  }
}
